<div class="container mt-3">
  <h5>Novo Condominio</h5>
  <div class="mt-5 d-flex justify-content-center flex-column col-8">
    <%= simple_form_for @condominium  do |f| %>
      <%= f.input :name, label: "Nome", input_html: { class: 'apartment_form_string' }%> 
      <%= f.association :neighbourhood, label: "Bairro"%>
      <%#= f.input :condominium_id, label: "Endereço (sem número)", collection: , input_html: { class: 'apartment_form_string' } %>
      <%= f.input :address, label: "Endereço"%>
      <%= f.input :has, label: "Possui", as: :text, input_html: { class: 'apartment_form_text' } %>
      <%= f.input :hasnt, label: "Não possui", as: :text, input_html: { class: 'apartment_form_text' } %>
      <%= f.submit class: "btn btn-primary mb-5" %>
    <% end %>
  </div>
</div>