<div>
	<div class="top container">
		<%=image_tag("Fundo-home.png", class: "top-image ")%>
		<p><strong>A opção perfeita para quem procura ou anuncia um imóvel na cidade maravilhosa</strong></p>
	</div>
	<div class="neighbourhoods d-flex"></div>
    <%= link_to apartments_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Buzios.jpg") %>) ">
        Búzios
      </div>
    <% end %>

		<%= link_to apartments_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Buzios.jpg") %>) ">
        Botafogo
      </div>
    <% end %>

	</div>
</div>