<div>
	<div class="top container">
		<%=image_tag("Fundo-home.png", class: "top-image ")%>
		<p><strong>A opção perfeita para quem procura ou anuncia um imóvel na cidade maravilhosa</strong></p>
	</div>
	<div class="neighbourhoods">
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/Buzios.jpg") %>) ">
					Búzios
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/botafogo.jpg") %>) ">
					Botafogo
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/Lapa.jpg") %>) ">
					Lapa
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/Laranjeiras.jpg") %>) ">
					Laranjeiras
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/Leblon.jpg") %>) ">
					Leblon
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/Ipanema.jpg") %>) ">
					Ipanema
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/Copacabana.jpg") %>) ">
					Copacabana
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/Leme.jpg") %>) ">
					Leme
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/barra.jpg") %>) ">
					Barra
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/Lagoa.jpg") %>) ">
					Lagoa
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/Gavea.jpg") %>) ">
					Gávea
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/Flamengo.jpg") %>) ">
					Flamengo
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/humaita.jpg") %>) ">
					Humaitá
				</div>
			<% end %>
		</div>
		<div>
			<%= link_to apartments_path do %>
				<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("Bairros/centro.jpg") %>) ">
					Centro
				</div>
			<% end %>
		</div>
	</div>
</div>